In [1]:
import numpy as np 
import pandas as pd 

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/car-evaluation-data-set/car_evaluation.csv

In [2]:
df = pd.read_csv('/kaggle/input/car-evaluation-data-set/car_evaluation.csv')

In [3]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [4]:
df.sample(5)

      vhigh vhigh.1      2   2.1  small   low  unacc
142   vhigh    high      3     2    big  high  unacc
750    high     med  5more  more    med   med    acc
1717    low     low  5more     4    big  high  vgood
1476    low    high      4  more  small   med    acc
1368    low   vhigh      4  more  small   med  unacc

In [5]:
df.shape

(1727, 7)

In [6]:
df.isnull().sum().sum()

0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vhigh    1727 non-null   object
 1   vhigh.1  1727 non-null   object
 2   2        1727 non-null   object
 3   2.1      1727 non-null   object
 4   small    1727 non-null   object
 5   low      1727 non-null   object
 6   unacc    1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [8]:
print(df['vhigh'].value_counts())
print(df['vhigh.1'].value_counts())
print(df['small'].value_counts())
print(df['low'].value_counts())
print(df['unacc'].value_counts())

vhigh
high     432
med      432
low      432
vhigh    431
Name: count, dtype: int64
vhigh.1
high     432
med      432
low      432
vhigh    431
Name: count, dtype: int64
small
med      576
big      576
small    575
Name: count, dtype: int64
low
med     576
high    576
low     575
Name: count, dtype: int64
unacc
unacc    1209
acc       384
good       69
vgood      65
Name: count, dtype: int64

In [9]:
df.shape

(1727, 7)

## One hot encoding using Pandas

In [10]:
pd.get_dummies(df, columns=['vhigh', 'vhigh.1', 'small', 'low', 'unacc'])

,2,2.1,vhigh_high,vhigh_low,vhigh_med,vhigh_vhigh,vhigh.1_high,vhigh.1_low,vhigh.1_med,vhigh.1_vhigh,small_big,small_med,small_small,low_high,low_low,low_med,unacc_acc,unacc_good,unacc_unacc,unacc_vgood
0,2,2,False,False,False,True,False,False,False,True,False,False,True,False,False,True,False,False,True,False
1,2,2,False,False,False,True,False,False,False,True,False,False,True,True,False,False,False,False,True,False
2,2,2,False,False,False,True,False,False,False,True,False,True,False,False,True,False,False,False,True,False
3,2,2,False,False,False,True,False,False,False,True,False,True,False,False,False,True,False,False,True,False
4,2,2,False,False,False,True,False,False,False,True,False,True,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1722,5more,more,False,True,False,False,False,True,False,False,False,True,False,False,False,True,False,True,False,False
1723,5more,more,False,True,False,False,False,True,False,False,False,True,False,True,False,False,False,False,False,True
1724,5more,more,False,True,False,False,False,True,False,False,True,False,False,False,True,False,False,False,True,False
1725,5more,more,False,True,False,False,False,True,False,False,True,False,False,False,False,True,False,True,False,False
1726,5more,more,False,True,False,False,False,True,False,False,True,False,False,True,False,False,False,False,False,True

> 1727 rows × 20 columns

## k-1 OneHot encoding

In [11]:
pd.get_dummies(df,columns=['vhigh', 'vhigh.1', 'small', 'low', 'unacc'],drop_first=True)

,2,2.1,vhigh_low,vhigh_med,vhigh_vhigh,vhigh.1_low,vhigh.1_med,vhigh.1_vhigh,small_med,small_small,low_low,low_med,unacc_good,unacc_unacc,unacc_vgood
0,2,2,False,False,True,False,False,True,False,True,False,True,False,True,False
1,2,2,False,False,True,False,False,True,False,True,False,False,False,True,False
2,2,2,False,False,True,False,False,True,True,False,True,False,False,True,False
3,2,2,False,False,True,False,False,True,True,False,False,True,False,True,False
4,2,2,False,False,True,False,False,True,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1722,5more,more,True,False,False,True,False,False,True,False,False,True,True,False,False
1723,5more,more,True,False,False,True,False,False,True,False,False,False,False,False,True
1724,5more,more,True,False,False,True,False,False,False,False,True,False,False,True,False
1725,5more,more,True,False,False,True,False,False,False,False,False,True,True,False,False
1726,5more,more,True,False,False,True,False,False,False,False,False,False,False,False,True

> 1727 rows × 15 columns

## OneHotEncoding using Sklearn

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:],df.iloc[:,-1],test_size=0.2,random_state=2)

In [13]:
X_train.sample(5)

     vhigh vhigh.1      2   2.1  small   low  unacc
1692   low     low      4  more  small   med    acc
480   high   vhigh      3  more    med   med  unacc
1690   low     low      4     4    big  high  vgood
685   high     med      3     4  small  high    acc
1071   med    high  5more  more  small   med  unacc

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [15]:
ohe = OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [16]:
X_train_new = ohe.fit_transform(X_train[['vhigh', 'vhigh.1', 'small', 'low', 'unacc']])

In [17]:
X_test_new = ohe.transform(X_test[['vhigh', 'vhigh.1', 'small', 'low', 'unacc']])

In [18]:
X_train_new

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 1, 0],
       [1, 0, 0, ..., 0, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 1, 0, ..., 0, 1, 0]], dtype=int32)

In [19]:
X_train_new.shape

(1381, 13)